{% extends "layout/base.html" %}
{% load static %}

{% block head-scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
{% endblock head-scripts %}

{% block content %}
<h1 class="text-center">Реєстрація на екзамен</h1>

<div style="display: none;" id="exams-data">{{ data }}</div>

<form class="mt-5 exams-form" action="">
{% verbatim %}

{% endverbatim %}
  <div class="row">
    <div class="col-6">
      <h3 class="text-center">Дані вступника</h3>

      <div class="row">
        <div class="col-4">
          <label for="inputEmail4" class="form-label">Прізвище</label>
          <input type="text" class="form-control" required>
        </div>
        <div class="col-4">
          <label for="inputPassword4" class="form-label">Ім'я</label>
          <input type="text" class="form-control" required>
        </div>
        <div class="col-4">
          <label for="inputEmail4" class="form-label">По батькові</label>
          <input type="text" class="form-control" required>
        </div>
      </div>

      <div>
        <label for="inputEmail4" class="form-label">Електронна пошта</label>
        <input type="email" class="form-control" required>
      </div>

      <div>
        <label for="inputEmail4" class="form-label">Номер телефону</label>
        <input type="phone" class="form-control">
      </div>

    </div>

    <div class="col-6">
      <h3 class="text-center">Дані вступу</h3>

      <div class="base">
        <label class="form-label" for="">База вступу</label>
        <select
          class="form-select"
          aria-label="Документ, на базі якого буде проводитись вступ"
          v-model="base_id"
          v-on:change="target_id = null; area_id = null;"
        >
          <option value="null" selected>Не обрано</option>
          
          <option v-for="(degree, id) in examsData" v-bind:value="id">
            {% verbatim %}
              {{degree.name}}
            {% endverbatim %}
          </option>
        </select>
      </div>

      <div class="target" v-if="isBaseSelected">
        <label class="form-label" for="">Куди вступаєте</label>
        <select
          class="form-select"
          aria-label="Бажаний рівеень здобуття"
          v-model="target_id"
          v-on:change="area_id = null;"
        >
          <option value="null">Не обрано</option>

          <option v-for="(degree, id) in availableTargets" v-bind:value="id">
            {% verbatim %}
              {{ degree.name }}
            {% endverbatim %}
          </option>
        </select>
      </div>

      <div class="specialities" v-if="isTargetSelected">
        <label class="form-label" for="">Спеціальність для вступу</label>
        <select class="form-select" aria-label="" v-model="area_id">
          <option value="null">Не обрано</option>
          
          <option v-for="(speciality, id) in examsData[target_id].areas" v-bind:value="id">
            {% verbatim %}
              {{ speciality.code }} {{ speciality.name }}
            {% endverbatim %}
          </option>
        </select>
      </div>

    </div>
  </div>
  <button v-if="isAreaSelected" class="btn btn-success mt-3" type="submit">Зареєструватись на екзамен(и)</button>
  <div class="exams row mt-5" v-if="isAreaSelected">
  
    <div v-for="exam in examsData[target_id].areas[area_id].exams" class="card col-3 mx-3">
      {% verbatim %}
        
      <div class="card-header">
       {{exam.type}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ exam.subject }}</h5>
        <p class="card-text">Дата: {{ exam.time }}</p>
        <p class="card-text">Аудиторія: {{ exam.audience }} <br/> Корпус: {{ exam.building.name }}, {{ exam.building.address }}</p>
      </div>
      {% endverbatim %}
  
    </div>
  
  </div>
</form>


{% endblock content %}

{% block scripts %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock scripts %}
